.container {
    display: flex;
    justify-content: center;
}

.ladingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem; 
    width: 70rem;
}

.main {
    display: flex;
    width: 100%;
}

.mainFirst {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainSecond {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titleLading {
  font-family: 'Marcellus', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 4rem;
  margin: 0px;
}

.upper {
    display: flex;
    justify-content: end;
    width: 100%;
    border: 2px black solid;
}

.features {
    font-family: 'Marcellus', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 4rem;
  margin: 0px;
}