@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Quicksand:wght@300..700&display=swap');


:root {
  background-color: #FCFCFC;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #252323;
}

